@model AppCrudCore.Models.Libro

@{
    ViewData["Title"] = "Crear Libro";
}

<section class="main-container">
    <div class="glass-card">
        <header class="form-header">
            <h1 class="title">Nuevo Libro</h1>
            <p class="subtitle">Gestión de Libro - Creación de Libro</p>
        </header>

        <div class="form-wrapper">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-grid">
                    <div class="input-group">
                        <label class="field-label">Imagen</label>

                        <input type="file"
                               name="imagenArchivo"
                               accept="image/*"
                               class="custom-input" />
                    </div>
                    <div class="input-group">
                        <label class="field-label">Título</label>
                        <input asp-for="Titulo" class="custom-input" />
                        <span asp-validation-for="Titulo" class="text-danger"></span>
                    </div>
                    <div class="input-group">
                        <label class="field-label">Autor</label>
                        <input asp-for="Autor" class="custom-input" />
                        <span asp-validation-for="Autor" class="text-danger"></span>
                    </div>
                    <div class="input-group">
                        <label class="field-label">ISBN</label>
                        <input asp-for="ISBN" class="custom-input" />
                        <span asp-validation-for="ISBN" class="text-danger"></span>
                    </div>
                    <div class="input-group">
                        <label class="field-label">Año Publicación</label>
                        <input asp-for="AnioPublicacion" class="custom-input" />
                        <span asp-validation-for="AnioPublicacion" class="text-danger"></span>
                    </div>
                    <div class="input-group">
                        <label class="field-label">Resumen</label>
                        <input asp-for="Resumen" class="custom-input" />
                        <span asp-validation-for="Resumen" class="text-danger"></span>
                    </div>
                    <div class="input-group">
                        <label class="field-label">Precio Venta</label>
                        <input asp-for="PrecioVenta" class="custom-input" />
                        <span asp-validation-for="PrecioVenta" class="text-danger"></span>
                    </div>
                    <div class="input-group">
                        <label class="field-label">Cantidad Total</label>
                        <input asp-for="StockTotal" class="custom-input" />
                        <span asp-validation-for="StockTotal" class="text-danger"></span>
                    </div>
                    <div class="input-group">
                        <label class="field-label">Cantidad Préstamo</label>
                        <input asp-for="StockPrestamo" class="custom-input" />
                        <span asp-validation-for="StockPrestamo" class="text-danger"></span>
                    </div>
                    <div class="input-group">
                        <label class="field-label">Cantidad Venta</label>
                        <input asp-for="StockVenta" class="custom-input" />
                        <span asp-validation-for="StockVenta" class="text-danger"></span>
                    </div>
                    <div class="input-group">
                        <label class="field-label">Categoría</label>
                        <select asp-for="CategoriaId" class="custom-select" asp-items="ViewBag.CategoriaId"></select>
                    </div>
                    <div class="input-group">
                        <label class="field-label">
                            <input class="form-check-input" asp-for="Activo" /> @Html.DisplayNameFor(model => model.Activo)
                        </label>
                    </div>
                </div>
                <hr>
                <div class="action">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
                <div>
                    <a asp-action="Index">Volver a la lista</a>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
